<h1>New User? Sign up here!</h1>

<form action='/register' method="POST">
    <label for name="name">Username:</label>
    <input type="text" id="name" name="name">
    <br>
    <label for name="email">Email:</label>
    <input type="text" id="email" name="email">
    <br>
    <label for name="password">Password:</label>
    <input type="text" id="password" name="password">
    <br>
    <input type="submit" value="Register">
</form>
